package layout

templ Footer() {
	<footer class="bg-indigo-600 px-8 py-4 shadow-md flex justify-between">
		<p class="text-gray-50 font-bold">Trip Planner 2024</p>
		<p class="text-gray-50">Michael Duren</p>
	</footer>
}
