package layout

templ MainLayout() {
    @Base() {
            <body class="flex flex-col min-h-[100vh]">
                @Header(nil)
                <main class="flex-1 m-8">
                    { children... }
                </main>
                @Footer()
            </body>
        }
}
