package views

import (
	"trip-planner/cmd/web/models"
	"trip-planner/cmd/web/views/components/layout"
	"trip-planner/cmd/web/views/components/trips"
)

templ Trips(model *models.TripsModel) {
	@layout.MainLayout(model.MainLayoutModel) {
		<div class="duration-500 htmx-swapping:opacity-0 transition-opacity" id="trips-container">
			@trips.TripList(model)
		</div>
	}
}
