package views

import (
	"trip-planner/cmd/web/models"
	"trip-planner/cmd/web/views/components/layout"
)

templ Trips(model *models.TripsModel) {
	@layout.MainLayout(model.MainLayoutModel) {
		<div>
			<h2>{ model.Email }</h2>
		</div>
	}
}
