package ui

templ Modal() {
	<div class="top-0 left-0 flex flex-col justify-center items-center min-w-[100vw] min-h-[100vh] absolute  bg-opacity-20 bg-black">
		<div class="bg-white max-w-screen-md p-6 rounded-md">
			{ children... }
		</div>
	</div>
}
